<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Вхід</title>
  <link rel="stylesheet" href="/static/styles.css">

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
</head>
<body class="auth-page">
  <div class="auth-container">
    <h1>Вхід</h1>
    <form action="/login" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <label for="username">Ім'я користувача / Email / Телефон:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Пароль:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Увійти</button>
    </form>
    <a href="{{ url_for('forgot_password') }}">Забули пароль?</a>
    <p>Ще не маєте аккаунту? <a href="/register">Зареєструватись тут</a>.</p>
  </div>
</body>
</html>
